extends layout

block content
    h1= title
    |
    end
    |
    p Welcome, your token is #{authtoken}.
    |
    a(class = 'button', href='/newQuestion/new/') Submit a new Question
    end
    |
    br 
    |
    a(href='/signup') Sign Up!
    end
    |
    br
    |
    a(href='/login') Log In!
    end
    |
    br
    |
    a(href='/') Home
    end